.book-game-description {
  width: 100%;
  padding: 20px;
  background-color: #5e4708;
  text-align: center;
  &-wrapper {
    max-width: 700px;
    margin: 0 auto;
    padding: 30px;
    text-align: left;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    h1 {
      margin-bottom: 15px;
      font-size: 34px;
      font-weight: 600;
      text-align: center;
    }
    .description {
      margin-bottom: 15px;
      p {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1px;
      }
    }
    .requirements {
      margin-bottom: 15px;
      font-size: 18px;
      font-weight: 600;
    }
    .share {
      ul {
        li {
          margin-right: 5px;
          float: left;
          a {
            width: 40px;
            height: 40px;
            margin-right: 3px;
            padding: 10px 0 0 0;
            background-color: #fff;
            display: inline-block;
            .border-radius(5px);
            text-align: center;
            i {
              font-size: 26px;
              line-height: 23px;
              // color: #fff;
              // &:hover {
              //   opacity: .7;
              // }
            }
            &.social-email {
              padding: 8px 0 0 0;
            }
          }
        }
      }
    }
  }
  &.bayme-pants-the-sun-its-broken {
    .book-game-description-wrapper {
      h1 {
      }
      .description {
        p {
        }
      }
      .requirements {
      }
      .share {
        ul {
          li {
            a {
              i {
                color: #423206;
              }
            }
          }
        }
      }
    }
  }
  &.planet-colors {
    .book-game-description-wrapper {
      h1 {
      }
      .description {
        p {
        }
      }
      .requirements {
      }
      .share {
        ul {
          li {
            a {
              i {
                color: #423206;
              }
            }
          }
        }
      }
    }
  }
  &.save-the-pig {
    .book-game-description-wrapper {
      h1 {
      }
      .description {
        p {
        }
      }
      .requirements {
      }
      .share {
        ul {
          li {
            a {
              i {
                color: #423206;
              }
            }
          }
        }
      }
    }
  }
}
