.page-template-book {

  .page-planet-colors {
    .book-section {
      background-image: url('imgs/books/planet-colors/background.jpg');
      background-size: cover;
    }
  }

  .book-section {
    .slider {
      /*max-width: 900px;*/
      margin: 0 auto;
      /*margin: 0 auto 20px auto;*/
      -webkit-box-shadow: 0px 0px 37px -5px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 37px -5px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 37px -5px rgba(0,0,0,0.75);
    }

    .slick-slide {
      outline: none !important;
    }

    .slick-prev, .slick-next {
      width: 50px;
      height: 50px;
      opacity: .3;
      z-index: 10;
    }

    .slick-prev {
      left: 10px;
    }

    .slick-next {
      right: 10px;
    }

    .slick-prev:before, .slick-next:before {
      font-size: 50px;
      color: #fff;
    }

    .slider-page {
      position: relative;
    }

    .sign-link {
      position: absolute;
    }
    .sign-link:focus {
      outline: none;
    }

    .slick-dots {
      bottom: 5px;
    }

    .mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
      font-size: 50px;
      width: 40px;
      height: 40px;
      top: 45px;
      right: 5px;
      text-align: center;
      padding-right: 0;
      background-color: #757575;
      cursor: pointer !important;
    }

    .fullscreen-btn {
      margin-top: 20px;
      display: inline-block;
      padding: 20px;
      .border-radius(10px);
      text-decoration: none;
    }

  }

  &.book-siteview {
    .page-planet-colors {
      .book-section {
        padding: 50px 130px;
        .fullscreen-btn {
          .background-image(linear-gradient(to bottom, #3173ab 0%,#197e88 100%));
          color: #fff;
          font-weight: 600;
          &:hover {
            .background-image(linear-gradient(to bottom, #50a1e4 0%,#09a6b5 100%));
            color: #fff;
          }
        }
      }
    }
  }

  &.book-fullscreen {

  }


}
