.page-template-book {

  .book-section-loader {
    margin-bottom: 10px;
    padding: 90px 0;
    font-size: 28px;
    line-height: 40px;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    .border-radius(10px);
    display: block;
  }

  .book-full-page-please-rotate {
    height: 100vh;
    padding: 0 20px;
    display: flex;
    .align-items(center);
    .justify-content(center);
    text-align: center;
    img {
      width: 247px;
      height: 105px;
      margin: 0 auto 10px auto;
    }
    &-header {
      margin-bottom: 10px;
      text-transform: uppercase;
      font-size: 28px;
      font-weight: bold;
      line-height: 30px;
    }
    &-description {
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 22px;
    }
    .book-fullscreen-nav {
      a {
        width: 50px;
        height: 50px;
        margin: 5px;
        padding-top: 7px;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        .border-radius(5px);
        opacity: .7;
        &:hover {
          opacity: 1;
        }
      }
      .site-nav {
        background-color: green;
        i {
          font-size: 19px;
          margin-bottom: 4px;
        }
      }
      .back-to-siteview {
        background-color: blue;
        font-size: 12px;
        font-weight: bold;
        i {
          font-size: 19px;
          margin-bottom: 4px;
        }
      }
      .share {
        display: none;
      }
    }
    .book-fullscreen-nav-popup {
      display: none;
    }
  }

  .swiper-container {
    .swiper-button-next,
    .swiper-button-prev {
      background-image: none;
      .fa {
        color: #fff;
        opacity: .3;
        font-size: 36px;
      }
    }
  }

  .white-popup-block {
    max-width: inherit;
    margin:40px auto;
    padding: 0;
    text-align: center;
    img {
      margin: 0 auto;
    }
  }

  #book-fullscreen-site-nav-popup {
    .mfp-close {
      background-color: #333;
      &:hover {
        background-color: #333;
      }
    }
  }

  .mfp-wrap {
    .mfp-close {
      padding: 0;
      text-align: center;
      background-color: #0035bb;
      color: #fff;
      &:active {
        top: 0;
      }
      &:hover {
        background-color: #2557d6;
      }
      i {
        font-size: 34px;
        line-height: 28px;
      }
    }
  }

  .bx-wrapper {
    margin-bottom: 0;
    opacity: 0;
    .box-shadow(none);
    border: none;
    .bx-controls-direction a {
      text-indent: inherit;
      i {
        font-size: 28px;
        color: #fff;
        opacity: .3;
      }
    }
  }

  .page-planet-colors {
    .book-section {
      background-image: url('imgs/books/planet-colors/background.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .page-bayme-pants-the-sun-its-broken {
    .book-section {
      background-image: url('imgs/books/bayme-pants-the-sun-its-broken/background.jpg');
      background-repeat: repeat;
      //background-size: cover;
    }
  }

  .book-section {
    .book-fullscreen-nav {
      position: absolute;
      top: 0;
      left: -55px;
      &-btn {
        width: 50px;
        height: 50px;
        margin-bottom: 5px;
        padding-top: 7px;
        display: block;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        .border-radius(5px);
        opacity: .7;
        &:hover {
          opacity: 1;
        }
      }
      .site-nav {
        background-color: green;
        i {
          font-size: 19px;
          margin-bottom: 4px;
        }
      }
      .back-to-siteview {
        background-color: blue;
        font-size: 12px;
        font-weight: bold;
        i {
          font-size: 19px;
          margin-bottom: 4px;
        }
      }
      .share {
        background-color: orange;
        font-size: 12px;
        font-weight: bold;
        i {
          font-size: 19px;
          margin-bottom: 4px;
        }
      }
      &-popup {
        position: absolute;
        left: 55px;
        text-align: left;
        display: none;
        z-index: 9999;
        .border-top-right-radius(25px);
        .border-bottom-right-radius(25px);
        .close {
          position: absolute;
          top: 8px;
          right: 12px;
          color: #fff;
          .fa {
            font-size: 32px;
          }
        }
        &-btn {
          width: 50px;
          height: 50px;
          margin-bottom: 5px;
          margin-right: 5px;
          padding-top: 7px;
          display: inline-block;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
          color: #fff;
          font-size: 12px;
          font-weight: bold;
          .border-radius(5px);
          opacity: 1;
          &:hover {
            opacity: .7;
          }
          i {
            font-size: 19px;
          }
        }
      }
      &-site-popup {
        width: 216px;
        height: 50px;
        background-color: #004f00;
        top: 0;
        .book-fullscreen-nav-popup-btn {
          i {
            margin-bottom: 4px;
          }
        }
      }
      &-share-popup {
        width: 143px;
        height: 52px;
        padding: 5px 0 0 5px;
        background-color: #b27300;
        top: 54px;
        .book-fullscreen-nav-popup-btn {
          width: 40px;
          height: 40px;
          margin-right: 3px;
          padding-top: 0;
          i {
            font-size: 46px;
            line-height: 43px;
          }
        }
      }
    }
    .swiper-container {
      /*max-width: 900px;*/
      margin: 0 auto;
      /*margin: 0 auto 20px auto;*/
      -webkit-box-shadow: 0px 0px 37px -5px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 37px -5px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 37px -5px rgba(0,0,0,0.75);
    }

    .wrapper {
      // display: none;
      opacity: 0;
    }

    .slider-page {
      position: relative;
    }

    .sign-link {
      position: absolute;
    }
    .sign-link:focus {
      outline: none;
    }

    .mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
      font-size: 50px;
      width: 40px;
      height: 40px;
      top: 45px;
      right: 5px;
      text-align: center;
      padding-right: 0;
      background-color: #757575;
      cursor: pointer !important;
    }

    .fullscreen-btn {
      margin-top: 20px;
      display: inline-block;
      padding: 20px;
      .border-radius(10px);
      text-decoration: none;
      .background-image(linear-gradient(to bottom, #3173ab 0%,#197e88 100%));
      color: #fff;
      font-weight: 600;
      line-height: 22px;
      br {
        display: block;
        @media(min-width: 400px){
          display: none;
        }
      }

      &:hover {
        .background-image(linear-gradient(to bottom, #50a1e4 0%,#09a6b5 100%));
        color: #fff;
      }
    }

  }

  &.book-siteview {
    .page-planet-colors,
    .page-bayme-pants-the-sun-its-broken {
      .book-section {
        padding: 20px;
        @media(min-width: 1024px){
          padding: 50px;
        }
        @media(min-width: 1300px){
          padding: 50px 130px;
        }
      }
    }
  }

  &.book-fullscreen {
    .book-section {
      .wrapper {
        display: inline-block;
        display: none;
        position: relative;
      }
    }
  }


}
