.page-template-home {

  .site-intro {
    padding-top: 50px;
    background-color: #254374;
    position: relative;
    .intro-wrapper {
      width: 950px;
      margin: 0 auto;
    }
    &-description {
      width: 590px;
      padding-top: 50px;
      text-align: left;
      float: left;
      z-index: 2;
      position: relative;
      h1 {
        margin-bottom: 13px;
        color: #fff;
        font-size: 48px;
        font-weight: bold;
        line-height: 60px;
        letter-spacing: .5px;
      }
      p {
        line-height: 32px;
        font-size: 20px;
        letter-spacing: 1px;
        color: #d4e5ff;
      }
    }
    .zimmy-home {
      width: 300px;
      float: right;
      z-index: 2;
      position: relative;
    }
    canvas.particles-js-canvas-el {
      position: absolute;
      top: 0;
      left: 0;
      opacity: .8;
      z-index: 1;
    }
  }

  .books {
    padding: 50px;
    h2 {
      margin-bottom: 40px;
      color: #159d00;
      font-size: 40px;
      font-weight: bold;
      line-height: 55px;
      letter-spacing: .5px;
    }
    &-copy-wrapper {
      width: 950px;
      margin: 0 auto;
    }
    &-description {
      width: 450px;
      text-align: left;
      float: left;
      h3 {
        margin-bottom: 15px;
        color: #5b01ff;
        font-size: 26px;
        font-weight: bold;
        line-height: 30px;
        letter-spacing: .5px;
      }
      p {
        margin-bottom: 30px;
        line-height: 32px;
        font-size: 18px;
        letter-spacing: 1px;
        color: #254374;
      }
      a {
        padding: 5px 14px;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        background-color: #4a45ff;
        border: 5px solid #3936ae;
        .border-radius(5px);
        display: inline-block;
        &:hover {
          opacity: .8;
        }
      }
    }
    &-featured {
      width: 450px;
      float: right;
    }
  }

  .games {
    padding: 0 0 50px 0;
    h2 {
      margin-bottom: 40px;
      color: #159d00;
      font-size: 40px;
      font-weight: bold;
      line-height: 55px;
      letter-spacing: .5px;
    }
    &-copy-wrapper {
      width: 950px;
      margin: 0 auto;
    }
    &-description {
      width: 450px;
      text-align: left;
      float: right;
      h3 {
        margin-bottom: 15px;
        color: #f654dd;
        font-size: 24px;
        font-weight: bold;
        line-height: 30px;
        letter-spacing: .5px;
      }
      p {
        margin-bottom: 30px;
        line-height: 32px;
        font-size: 18px;
        letter-spacing: 1px;
        color: #254374;
      }
      a {
        padding: 5px 14px;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        background-color: #f54abd;
        border: 5px solid #c51229;
        .border-radius(5px);
        display: inline-block;
        &:hover {
          opacity: .8;
        }
      }
    }
    &-featured {
      width: 450px;
      float: left;
    }
  }

}
