.page-save-the-pig {

  .save-the-pig-game {
    .wrapper {
      //padding: 0 100px;
      text-align: center;
    }
    .stage {
      width: 1190px;
      height: 600px;
      margin: 0 auto;
      background-image: url('../imgs/games/save-the-pig/background.jpg');
      position: relative;
      .start-game {
        position: absolute;
        top: 10px;
        left: 10px;
      }
      .player-score {
        position: absolute;
        top: 10px;
        right: 10px;
        color: red;
      }
      .hidden-track {
        width: 740px;
        height: 260px;
        position: absolute;
        background-image: url('../imgs/games/save-the-pig/ice-table.png');
        bottom: 20px;
        left: 225px;
      }
      .pig-box {
        width: 270px;
        height: 200px;
        background-image: url('../imgs/games/save-the-pig/pig-1.gif');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: -80px;
        left: 5px;
      }
      .letter-box {
        position: absolute;
        top: 60px;
        left: 55px;
      }
    }
    .keyboard-wrapper {
      width: 460px;
      height: 118px;
      position: absolute;
      bottom: 28px;
      left: 366px;
    }
    .keys-row {
      margin-bottom: 5px
    }
    .keys-row span {
      width: 35px;
      margin: 0;
      padding: 10px;
      text-align: center;
      //border: 1px solid #ccc;
      display: inline-block;
      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      background: brown;
      color: #fff;
      &.active {
        background: blue;
      }
    }
    .keys-row-3 {
      margin-right: 45px;
    }
  }

  .game-description {
    width: 100%;
    padding: 20px;
    background-color: #5e4708;
    text-align: center;
    &-wrapper {
      width: 600px;
      margin: 0 auto;
      padding: 30px;
      text-align: left;
      background-color: rgba(0, 0, 0, .3);
      color: #fff;
      h1 {
        margin-bottom: 15px;
        font-size: 34px;
        font-weight: 600;
        text-align: center;
      }
      .description {
        margin-bottom: 15px;
        p {
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 1px;
        }
      }
      .requirements {
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 600;
      }
      .share {
        ul {
          li {
            margin-right: 5px;
            display: inline-block;
            i {
              font-size: 40px;
              color: #fff;
              &:hover {
                opacity: .7;
              }
            }
          }
        }
      }
    }
  }

}
