.page-save-the-pig {

  .save-the-pig-game {
    .wrapper {
      //padding: 0 100px;
      text-align: center;
    }
    .stage {
      width: 1190px;
      height: 600px;
      margin: 0 auto;
      background-image: url('../imgs/games/save-the-pig/background.jpg');
      position: relative;
      .game-control-board {
        width: 710px;
        height: 350px;
        padding: 20px;
        background-color: rgba(0, 0, 0, .2);
        text-align: left;
        position: absolute;
        top: 10px;
        left: 242px;
        z-index: 9999;
        .controls {
          position: absolute;
          top: 170px;
          left: 20px;
          button {
            width: 180px;
            padding: 15px 0;
            margin-bottom: 5px;
            font-size: 38px;
            text-transform: uppercase;
            display: block;
            text-align: center;

          }
          .start-game {

          }
          .stop-game {

          }
        }
        .mode {
          position: absolute;
          top: 170px;
          left: 207px;
          border: 5px solid #ccc;
          border-radius: 20px;
          background-color: #168600;
          span {
            text-transform: uppercase;
            display: block;
            text-align: center;
          }
          a {
            width: 175px;
            height: 77px;
            margin-bottom: 5px;
            padding: 10px 15px;
            border: none;
            background-color: #333;
            color: #fff;
            text-decoration: none;
            display: block;
            &.active {
              background-color: green;
            }
          }
        }
        .inputs {
          position: absolute;
          top: 170px;
          left: 387px;
          .input-wrapper {
            width: 125px;
            padding: 15px;
            text-align: center;
            border: 5px solid #7b4f00;
            background-color: #b0723b;
            display: inline-block;
            color: #fff;
            .border-radius(20px);
            label {
              margin-bottom: 5px;
              font-size: 18px;
              text-transform: uppercase;
              letter-spacing: 1px;
              display: block;
            }
            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            input {
              width: 50px;
              padding: 5px;
              font-size: 34px;
              margin: 0 auto;
              position: relative;
              display: block;
              text-align: center;
              border: 3px dotted #a05757;
              color: #db0000;
              background-color: #ffde86;
            }
            span {
              margin-top: 5px;
              font-size: 12px;
              display: block;
              line-height: 15px;
            }
          }
        }
      }
      .player-score {
        position: absolute;
        top: 10px;
        right: 10px;
        color: red;
      }
      .hidden-track {
        width: 740px;
        height: 233px;
        position: absolute;
        background-image: url('../imgs/games/save-the-pig/ice-table.png');
        background-repeat: no-repeat;
        bottom: 5px;
        left: 225px;
        z-index: 9999;
      }
      .kid-dog-announcer {
        width: 240px;
        height: 350px;
        background-image: url('../imgs/games/save-the-pig/kid-dog-announcer.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      .pig-box {
        width: 270px;
        height: 200px;
        background-image: url('../imgs/games/save-the-pig/pig-1.gif');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: -125px;
        left: -10px;
        display: none;
      }
      .letter-box {
        width: 73px;
        height: 74px;
        position: absolute;
        top: 58px;
        left: 51px;
        div {
          width: 73px;
          height: 74px;
          text-transform: uppercase;
          font-size: 24px;
        }
        &.sign {
          div {
            background-image: url('../imgs/games/save-the-pig/signs.png');
          }
        }
        .a {
          background-position: 0 0;
        }
        .b {
          background-position: -73px 0;
        }
        .c {
          background-position: -146px 0;
        }
        .d {
          background-position: -219px 0;
        }
        .e {
          background-position: -292px 0;
        }
        .f {
          background-position: -365px 0;
        }
        .g {
          background-position: -438px 0;
        }
        .h {
          background-position: 0 -74px;
        }
        .i {
          background-position: -73px -74px;
        }
        .j {
          background-position: -146px -74px;
        }
        .k {
          background-position: -219px -74px;
        }
        .l {
          background-position: -292px -74px;
        }
        .m {
          background-position: -365px -74px;
        }
        .n {
          background-position: -438px -74px;
        }
        .o {
          background-position: 0 -148px;
        }
        .p {
          background-position: -73px -148px;
        }
        .q {
          background-position: -146px -148px;
        }
        .r {
          background-position: -219px -148px;
        }
        .s {
          background-position: -292px -148px;
        }
        .t {
          background-position: -365px -148px;
        }
        .u {
          background-position: -438px -148px;
        }
        .v {
          background-position: 0 -222px;
        }
        .w {
          background-position: -73px -222px;
        }
        .x {
          background-position: -146px -222px;
        }
        .y {
          background-position: -219px -222px;
        }
        .z {
          background-position: -292px -222px;
        }
      }
    }
    .keyboard-wrapper {
      width: 460px;
      height: 138px;
      padding: 15px;
      background-image: url('../imgs/games/save-the-pig/keyboard-backboard.png');
      background-size: cover;
      position: absolute;
      bottom: 5px;
      left: 366px;
      z-index: 9999;
    }
    .keys-row {
      margin-bottom: 5px
    }
    .keys-row span {
      width: 35px;
      margin: 0;
      padding: 10px;
      text-align: center;
      //border: 1px solid #ccc;
      display: inline-block;
      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      background: brown;
      color: #fff;
      &.active {
        background: blue;
      }
    }
    .keys-row-3 {
      margin-right: 45px;
    }
  }

  .game-description {
    width: 100%;
    padding: 20px;
    background-color: #5e4708;
    text-align: center;
    &-wrapper {
      width: 600px;
      margin: 0 auto;
      padding: 30px;
      text-align: left;
      background-color: rgba(0, 0, 0, .3);
      color: #fff;
      h1 {
        margin-bottom: 15px;
        font-size: 34px;
        font-weight: 600;
        text-align: center;
      }
      .description {
        margin-bottom: 15px;
        p {
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 1px;
        }
      }
      .requirements {
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 600;
      }
      .share {
        ul {
          li {
            margin-right: 5px;
            display: inline-block;
            i {
              font-size: 40px;
              color: #fff;
              &:hover {
                opacity: .7;
              }
            }
          }
        }
      }
    }
  }

}
