html {

}

body {
  position: relative;
  background-color: #efefef;
  font-family: 'Open Sans', sans-serif;
}

body.book-fullscreen {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.clear {
  clear: both;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.height-zero {
  height: 0;
}

.disable-links {
  pointer-events: none;
}

.site-wrapper {
  //padding-top: 80px;
  //padding-top: 48px;
  text-align: center;
  @media (min-width: 1024px){
    padding-bottom: 40px;
    //padding-top: 80px;
  }
}

.site-content {
  position: relative;
}

.site-content,
.header-content {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
  @media (min-width: 1024px){
    width: 1007px;
  }
  // @media (min-width: 1300px){
  //   width: 1280px;
  // }
}

.site-content {
  background-color: #fff;
  @media (min-width: 1024px){
    //border: 5px solid #3374ff;
    .border-radius(10px);
  }
  @media (min-width: 1300px){
    //border: 5px solid #3374ff;
  }
}

.site-content-border,
.header-border {
  @media (min-width: 1034px){
    display: inline-block;
  }
}

// .site-content-border {
//   @media (min-width: 1034px){
//     .border-radius(15px);
//     //border: 5px solid #7dbcfa;
//   }
// }

.home .site-content {
  @media (min-width: 1024px){
    border: 5px solid #254374;
  }
}

.category-books .site-content {
  @media (min-width: 1024px){
    border: 5px solid #254374;
  }
}

.category-games .site-content {
  @media (min-width: 1024px){
    border: 5px solid #049400;
  }
}

section,
.header,
.footer {
  text-align: center;
}
