html {

}

body {
  position: relative;
  background-color: #abceff;
  font-family: 'Open Sans', sans-serif;
}

body.book-fullscreen {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.clear {
  clear: both;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.disable-links {
  pointer-events: none;
}

.site-wrapper {
  //padding-top: 80px;
  //padding-top: 48px;
  text-align: center;
  @media (min-width: 880px){
    //padding-top: 80px;
  }
}

.site-content {
  position: relative;
}

.site-content,
.header-content {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  @media (min-width: 1024px){
    width: 1007px;
    border-left: 5px solid #3374ff;
    border-right: 5px solid #3374ff;
  }
  @media (min-width: 1300px){
    width: 1280px;
    border-left: 5px solid #3374ff;
    border-right: 5px solid #3374ff;
  }
}

.site-content-border,
.header-border {
  @media (min-width: 1034px){
    display: inline-block;
    border-left: 5px solid #7dbcfa;
    border-right: 5px solid #7dbcfa;
  }
  // @media (min-width: 1225px){
  //   border-left: 5px solid #7dbcfa;
  //   border-right: 5px solid #7dbcfa;
  // }
}

section,
.header,
.footer {
  text-align: center;
}
